services:
  ipcheckr:
    image: tapinko/ipcheckr:latest
    container_name: ipcheckr
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=ipcheckr
      - DB_USER=ipcheckr
      - DB_PASSWORD=mystrongpassword # CHANGE
      - TZ=Europe/Bratislava
      - LDAP_HOST=server.ldap.example.local
      - LDAP_PORT=636
      - LDAP_STARTTLS=false
      - LDAP_FETCH_CERT=true # set this to false if you don't plan to use LDAP authentication
    ports:
      - "8081:8080"
    dns:
      - ${DNS_NAMESERVER:-<IP_ADDRESS>}
    dns_search:
      - ${DNS_SEARCH_DOMAIN:-ldap.example.local}
    extra_hosts:
      - "ldap.example.local:<IP_ADDRESS>"
      - "server.ldap.example.local:<IP_ADDRESS>"
    restart: unless-stopped

  db:
    image: mariadb:12.0.2
    container_name: ipcheckr-db
    environment:
      - MYSQL_ROOT_PASSWORD=mystrongpassword # CHANGE
      - MYSQL_DATABASE=ipcheckr
      - MYSQL_USER=ipcheckr
      - MYSQL_PASSWORD=mystrongpassword # CHANGE
    volumes:
      - ipcheckr_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  ipcheckr_data: